global
    log stdout format raw local0
    maxconn 4096
    resolvers docker
        nameserver dns1 127.0.0.11:53
        resolve_retries 3
        timeout resolve 1s
        timeout retry 1s
        hold other 10s
        hold refused 10s
        hold nx 10s
        hold timeout 10s
        hold valid 10s

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# =============================================
#  FRONTEND: punto de entrada en puerto 8080
# =============================================
frontend http_front
    bind *:8080
    acl is_clientes  path_beg /api/clientes
    acl is_servicios path_beg /api/servicios
    acl is_citas     path_beg /api/citas
    use_backend clientes_back  if is_clientes
    use_backend servicios_back if is_servicios
    use_backend citas_back     if is_citas

# =============================================
#  ESTADÍSTICAS HAProxy
# =============================================
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

# =============================================
#  BACKEND: Microservicio Clientes
# =============================================
backend clientes_back
    balance roundrobin
    http-request set-path /clientes
    server-template clientes 1-5 usuarios:3001 check resolvers docker init-addr libc,none
# =============================================
#  BACKEND: Microservicio Servicios
# =============================================
backend servicios_back
    balance roundrobin
    http-request set-path /servicios
    server-template servicios 1-5 servicios:3002 check resolvers docker init-addr libc,none
# =============================================
#  BACKEND: Microservicio Citas
# =============================================
backend citas_back
    balance roundrobin
    http-request set-path /citas
    server-template citas 1-5 citas:3003 check resolvers docker init-addr libc,none
